<!DOCTYPE html>
<html lang="en">

<head>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="ISE Project" />
  <meta name="author" content="Awesome Group" />
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- CSS FILE LINKS -->

  <!-- - - -Vendors- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/bootstrap-custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/ionicons.min.css' %}">


  <!-- - - -Resources- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/resources/css/main-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/resources/css/main-style-m.css' %}">
  <!-- - - - -Font- - - - -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600' rel='stylesheet' type='text/css'>


  <title>ISE Project</title>
</head>

<body>
  <div class="app-interface">
    <div class="top-bar">
      <div class="company-name">
        Company Name
      </div>
      <div class="user-name">
        Welcome, {{username}}.
        <a href="/ise_pdt/logout">Logout</a>.
      </div>
    </div>
    <div class="middle-bar">
      <div class="left-section col-xs-2">
        {% if list_of_projects %}
        <div class="left-navi">
          {% for project in list_of_projects %}
          <div class="navi-project-set">
            <div class="project-name-div">
              <div class="click-to-collapse">
                <i class="ion-ios-arrow-right"></i>
              </div>
              <a href="/ise_pdt/manager/{{username}}/{{project.id}}"><h2 class="project-name">{{project.project_name}}</h2></a>
            </div>
            <div class="project-nav-div">
              <h3 class="project-nav">Iterations</h3>
              <h3 class="project-nav">Summary</h3>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No projects are available.</p>
        {% endif %}
      </div>
      <div class="right-section col-xs-10">
        
        <div class="right-heading-bar col-xs-12">
          <a href="/ise_pdt/manager/{{username}}/{{the_project.id}}/">
            <div class="heading-bar-back-button">
              <i class="ion-chevron-left"></i>
              <p>Iteration Manager</p>
            </div>
          </a>
          <div class="heading-bar-project-title">
            {{the_project.project_name}}
          </div>
        </div>      
        <p class="iteration-creation-title">Create Iteration</p>
        <form class="create_elem_form iteration" name="CreateElemForm" action="/ise_pdt/manager/{{username}}/{{the_project.id}}/createiteration/" method="post">
          {% csrf_token %} {% if next %}
          <input type="hidden" name="next" value="{{ next }}" /> {% endif %}
          
          <div class="controls">
            <label></label>
            <input type="text" id="iterationname" name="iterationname" placeholder="Iteration Name" autocomplete="off">
          </div>
          
          <div class="controls">
            <label>Select Phase:</label>
            <select name="phasename" id="phasename">
              <option value="INCP">Inception</option>
              <option value="ELAB">Elaboration</option>
              <option value="CONS">Construction</option>
              <option value="TRAN">Transition</option>
            </select>
          </div>
           
          <div class="controls">
            <button type="submit" class="btn">Create</button>
          </div>
          
        </form>
        
      </div>
    </div>
    <div class="bottom-bar">

    </div>
  </div>

  <!-- JAVASCRIPT FILE LINKS -->
  <script src="{% static 'ise_pdt/vendors/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'ise_pdt/resources/js/main-script.js' %}"></script>
</body>

</html>