<!DOCTYPE html>
<html lang="en">

<head>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="ISE Project" />
  <meta name="author" content="Awesome Group" />
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- CSS FILE LINKS -->

    <!-- - - -Vendors- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/bootstrap-custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/ionicons.min.css' %}">


    <!-- - - -Resources- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/resources/css/login-style.css' %}">

    <!-- - - - -Font- - - - -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600' rel='stylesheet' type='text/css'>


  <title>ISE Project</title>
</head>
<body>
{% block main %}
    <div id="login">
      <h1>LOGIN</h1>
      <form class="form-horizontal" name="LoginForm" action="/ise_pdt/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
      </form>
    </div>
{% endblock %}
  <!-- JAVASCRIPT FILE LINKS -->
  <script src="{% static 'ise_pdt/vendors/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'ise_pdt/resources/js/main-script.js' %}"></script>
</body>
</html>