<!DOCTYPE html>
<html lang="en">

<head>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="ISE Project" />
  <meta name="author" content="Awesome Group" />
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- CSS FILE LINKS -->

  <!-- - - -Vendors- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/bootstrap-custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/vendors/css/ionicons.min.css' %}">


  <!-- - - -Resources- - - -->
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/resources/css/main-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ise_pdt/resources/css/main-style-m.css' %}">

  <!-- - - - -Font- - - - -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600' rel='stylesheet' type='text/css'>


  <title>ISE Project</title>
</head>

<body>
  <div class="app-interface">
    <div class="top-bar">
      <div class="company-name">
        Company Name
      </div>
      <div class="user-name">
        Welcome, {{the_user.username}}.
        <a href="/ise_pdt/logout">Logout</a>.
      </div>
    </div>
    <div class="middle-bar">
      <div class="left-section col-xs-2">
        {% if list_of_projects %}
        <div class="left-navi">
          {% for project in list_of_projects %}
          <div class="navi-project-set">
            <div class="project-name-div">
              <div class="click-to-collapse">
                <i class="ion-ios-arrow-right"></i>
              </div>
              <a href="/ise_pdt/manager/{{the_user.username}}/{{project.id}}"><h2 class="project-name">{{project.project_name}}</h2></a>
            </div>
            <div class="project-nav-div">
              <h3 class="project-nav">Iterations</h3>
              <h3 class="project-nav">Summary</h3>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No projects are available.</p>
        {% endif %}
      </div>
      <div class="right-section col-xs-10">
        <div class="right-heading-bar col-xs-12">
          <a href="/ise_pdt/manager/{{the_user.username}}">
            <div class="heading-bar-back-button">
              <i class="ion-chevron-left"></i>
              <p>Project Manager</p>
            </div>
          </a>
          <div class="heading-bar-project-title">
            {{the_project.project_name}}
          </div>
          <div class="heading-bar-project-time">
            Total Time: {{overall_total_project_time_hours}}:{{overall_total_project_time_minutes}}:{{overall_total_project_time_seconds}}
          </div>
        </div>
        <div class="right-tabs col-xs-12">
          <div class="project-tab col-xs-4 current" data-tab="iteration">
            <div class="tab-text">
              <p>Iterations</p>
            </div>
          </div>
          <div class="project-tab col-xs-4" data-tab="summary">
            <div class="tab-text">
              <p>Summary</p>
            </div>
          </div>
          <div class="project-tab col-xs-4" data-tab="edit">
            <div class="tab-text">
              <p>Edit</p>
            </div>
          </div>
        </div>
        <div class="tabbed-div current" id="iteration">
          <p class="metrics-title">Iteration Manager</p>
          <div class="iteration-create-new-item" onclick="location.href = '/ise_pdt/manager/{{the_user.username}}/{{the_project.id}}/createiteration/';">
            + New Iteration
          </div>
          {% if list_of_iterations %}
          <table class="iteration-table">
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Phase</th>
              <th>Status</th>
              <th>Time</th>
            </tr>
            {% for iteration in list_of_iterations %}
            <tr class="data-row" onclick="location.href = '/ise_pdt/manager/{{the_user.username}}/{{the_project.id}}/{{iteration.id}}';">
              <td>{{forloop.counter}}</td>
              <td>{{iteration.iteration_name}}</td>
              
              {% if iteration.phase.phase_name == "INCP" %}
              <td>Inception</td>
              {% endif %}
              {% if iteration.phase.phase_name == "ELAB" %}
              <td>Elaboration</td>
              {% endif %}
              {% if iteration.phase.phase_name == "CONS" %}
              <td>Construction</td>
              {% endif %}
              {% if iteration.phase.phase_name == "TRAN" %}
              <td>Transition</td>
              {% endif %}           
              
              {% if iteration.iteration_status == "ACT" %}
              <td class="iter-act">Active</td>
              {% endif %}
              {% if iteration.iteration_status == "CLS" %}
              <td class="iter-cls">Closed</td>
              {% endif %}
              {% if iteration.iteration_status == "PND" %}
              <td class="iter-pnd">Pending</td>
              {% endif %}
              
              <td>{{iteration.iteration_start_date}}</td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <p>No projects are available.</p>
          {% endif %}
        </div>
        <div class="tabbed-div" id="summary">
          <div class="right-tabs col-xs-12">
            <div class="project-summary-tab col-xs-6 current" data-tab="timebased">
              <div class="tab-text">
                <p>Time Based Metrics</p>
              </div>
            </div>
            <div class="project-summary-tab col-xs-6" data-tab="sizebased">
              <div class="tab-text">
                <p>Size Based Metrics</p>
              </div>
            </div>
          </div>
          <div class="tabbed-summary-div current" id="timebased">
          <p class="metrics-title summary">Time Based Metrics</p>
          {% if list_of_projects %}
          <table class="user-time-summary-table summary">
            <tr>
              <th class="data-right-border">Phase</th>
              <th>Inception</th>
              <th>Elaboration</th>
              <th>Construction</th>
              <th>Transition</th>
              <th class="data-left-border data-large">Project</th>
            </tr>
            <tr class="data-row">
              <td class="data-right-border">Estimate Delivered Lines of Code</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td class="data-left-border">123 lines</td>
            </tr>
            <tr class="data-row">
              <td class="data-right-border">Delivered Lines of Code</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td>123 lines</td>
              <td class="data-left-border">123 lines</td>
            </tr>
            <tr class="data-row">
              <td class="data-right-border">Time Effort</td>
              <td>15 person-month</td>
              <td>15 person-month</td>
              <td>15 person-month</td>
              <td>15 person-month</td>
              <td class="data-left-border">15 person-month</td>
            </tr>
            <tr class="data-row">
              <td class="data-right-border">Estimated Time Effort</td>
              <td>50 person-month</td>
              <td>50 person-month</td>
              <td>50 person-month</td>
              <td>50 person-month</td>
              <td class="data-left-border">50 person-month</td>
            </tr>
            <tr class="data-row no-bottom-border">
              <td class="data-right-border">Productivity</td>
              <td>200 DLOC/person-month</td>
              <td>200 DLOC/person-month</td>
              <td>200 DLOC/person-month</td>
              <td>200 DLOC/person-month</td>
              <td class="data-left-border">200 DLOC/person-month</td>
            </tr>
          </table>
          {% endif %}
          </div>
          <div class="tabbed-summary-div" id="sizebased">
            <p class="metrics-title summary">Size Based Metrics</p>
          {% if list_of_projects %}
            <table class="user-time-summary-table summary">
              <tr>
                <th class="data-right-border">Phase</th>
                <th>Inception</th>
                <th>Elaboration</th>
                <th>Construction</th>
                <th>Transition</th>
                <th class="data-left-border data-large">Project</th>
              </tr>
              <tr class="data-row">
                <td class="data-right-border">Total Number of Defects Injected</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td class="data-left-border">123 lines</td>
              </tr>
              <tr class="data-row">
                <td class="data-right-border">Total Number of Defects Removed</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td>123 lines</td>
                <td class="data-left-border">123 lines</td>
              </tr>
              <tr class="data-row">
                <td class="data-right-border">Defect Injection Rate</td>
                <td>15 person-month</td>
                <td>15 person-month</td>
                <td>15 person-month</td>
                <td>15 person-month</td>
                <td class="data-left-border">15 person-month</td>
              </tr>
              <tr class="data-row">
                <td class="data-right-border">Defect Removal Rate</td>
                <td>50 person-month</td>
                <td>50 person-month</td>
                <td>50 person-month</td>
                <td>50 person-month</td>
                <td class="data-left-border">50 person-month</td>
              </tr>
              <tr class="data-row no-bottom-border">
                <td class="data-right-border">Defect Density</td>
                <td>200 DLOC/person-month</td>
                <td>200 DLOC/person-month</td>
                <td>200 DLOC/person-month</td>
                <td>200 DLOC/person-month</td>
                <td class="data-left-border">200 DLOC/person-month</td>
              </tr>
            </table>
            {% endif %}
          
          </div>
          <!-- <table id="project_summary_table">
			  <tr><td class="project_summary_left_col">&nbsp;</td><td class="project_summary_right_col">&nbsp;</td></tr>
			  <tr>
			    <td class="project_summary_left_col">Date started: </td><td class="project_summary_right_col">xxxxx</td>
			  </tr> 
			  <tr>
			    <td class="project_summary_left_col">Active Iteration: </td><td class="project_summary_right_col">xxxxx</td>
			  </tr> 
			  <tr>
			    <td class="project_summary_left_col">Current Phase: </td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr><td class="project_summary_left_col">&nbsp;</td><td class="project_summary_right_col">&nbsp;</td></tr>
			  <tr><td class="project_summary_left_col">&nbsp;</td><td class="project_summary_right_col">&nbsp;</td></tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Size-based Metric</td><td class="project_summary_right_col"></td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Estimated Delivered line of code:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Delivered line of code:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Time-effort:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Estimated Time-effort:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Productivity:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr><td class="project_summary_left_col">&nbsp;</td><td class="project_summary_right_col">&nbsp;</td></tr>
			  <tr><td class="project_summary_left_col">&nbsp;</td><td class="project_summary_right_col">&nbsp;</td></tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Quality Metric</td><td class="project_summary_right_col"></td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Total number of defect injected:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Total number of defect removed:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Defect Injection rete:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Defect Removal rate:</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border col_with_grey_backgroud">
			    <td class="project_summary_left_col">Defect density</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			  <tr class="col_with_border">
			    <td class="project_summary_left_col">Yield</td><td class="project_summary_right_col">xxxxx</td>
			  </tr>
			</table> -->
        </div>
        <div class="tabbed-div" id="edit">
         
          <form class="create_elem_form project-edit" name="CreateElemForm" action="/ise_pdt/manager/{{the_user.username}}/{{the_project.id}}/editproject/" method="post">
          {% csrf_token %} {% if next %}
          <input type="hidden" name="next" value="{{ next }}" /> {% endif %}
          
          <div class="controls">
            <label>Project Name: </label>
            <input type="text" id="projectname" name="projectname" placeholder="Project Name" autocomplete="off" value="{{the_project.project_name}}">
          </div>
          <div class="controls">
            <label>Project Description: </label>
            <textarea name="projectdescription" id="projectdescription" rows="6" placeholder="Project Description" value="">{{the_project.project_description}}</textarea>
          </div>
          
           <div class="controls">
            <label>Project Yield: </label>
            <input type="number" id="projectyield" name="projectyield" placeholder="Project Yield" autocomplete="off" value="{{the_project.project_yield}}">
          </div>
          <div class="controls">
            <label>Project Status:</label>
            <select name="projectstatus" id="projectstatus">
              <option {% if the_project.project_status == 'ACT' %} selected="selected" {% endif %} value="ACT">Active</option>
              <option {% if the_project.project_status == 'CLS' %} selected="selected" {% endif %} value="CLS">Closed</option>
              <option {% if the_project.project_status == 'PND' %} selected="selected" {% endif %} value="PND">Pending</option>
            </select>
          </div>
           
           <input type="hidden" id="userjs" name="userjs" value="{{ the_user.username }}">
           <input type="hidden" id="projectjs" name="projectjs" value="{{ the_project.id }}">
           
          <div class="controls">
            <button type="submit" class="btn btn-green">Save</button>
            <div class="delete-button btn" onclick="delete_project_prompt()">Delete Project</div>
          </div>

          
        </form>
        </div>
      </div>
    </div>
    <div class="bottom-bar">

    </div>
  </div>

  <!-- JAVASCRIPT FILE LINKS -->
  <script src="{% static 'ise_pdt/vendors/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'ise_pdt/resources/js/main-script.js' %}"></script>
</body>

</html>