html {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  color: #3B3B3B;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.app-interface {
  height: 100vh;
  width: 100vw;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* ---------------------------*/
/* Top Section Of The Page */
/* ---------------------------*/

.top-bar {
  background-color: #3B3B3B;
  width: 100%;
  height: 7%;
  color: #fff;
}

.company-name {
  font-size: 180%;
  float: left;
  margin-top: 0.9%;
  margin-left: 2%;
}

.user-name {
  font-size: 120%;
  float: right;
  margin-top: 1.3%;
  margin-right: 40px;
}


/* ---------------------------*/
/* Bottom Section Of The Page */
/* ---------------------------*/

.bottom-bar {
  background-color: #3B3B3B;
  width: 100%;
  height: 3%;
}


/* ---------------------------*/
/* Middle Section Of The Page */
/* ---------------------------*/

.middle-bar {
  width: 100%;
  height: 90%;
}


/* Left Navigation Part */

.middle-bar .left-section {
  height: 100%;
  display: inline-block;
  background-color: #3B3B3B;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.left-section .left-navi {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 90%;
  background-color: #4F4F4F;
  overflow-y: auto;
}

.navi-project-set {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  color: #fffffa;
}

.project-name-div {
  font-size: 140%;
  margin-bottom: 15px;
}

.project-name-div .click-to-collapse {
  display: inline-block;
  cursor: pointer;
}

.project-name-div .project-name {
  display: inline-block;
  margin-left: 10px;
}

.project-nav-div {
  margin-left: 20px;
  display: none;
}

.project-nav-div .project-nav {
  margin-bottom: 10px;
}

.show {
  display: block;
}


/* Right Contents Part */

.middle-bar .right-section {
  height: 100%;
  display: inline-block;
}

.project-boxes {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.project-box {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 300px;
  border: 4px solid #3B3B3B;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.6);
  text-align: center;
  color: #fff;
  background: #4F4F4F;
}

.project-box:first-of-type,
.project-box:nth-of-type(1) {
  margin-top: 60px;
}

.project-box .box-content {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2;
}

.project-box p {
  
  margin-bottom: 10px;
  text-decoration: none;
  
}

.box-content-title {
  font-size: 140%;
  background: #C97B7B;
  padding: 5px;
}




/* project.html #CD5C5C */

.right-heading-bar {
  border-bottom: 2px solid #3B3B3B;
  height: 35px;
  background-color: #4F4F4F;
}

.heading-bar-back-button {
  color: #fff;
  font-size: 140%;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
}

.heading-bar-back-button p,
.heading-bar-back-button i {
  display: inline-block;
  margin-left: 5px;
}

.heading-bar-project-title {
  color: #fff;
  font-size: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-bar-project-time {
  color: #fff;
  font-size: 140%;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.right-tabs {
  border-bottom: 2px solid #3B3B3B;
}

.project-tab {
  height: 35px;
  background-color: #4F4F4F;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.project-tab:hover {
  background-color: #696969;
}

.project-tab.current {
  background-color: #696969;
}

.tab-text:first-child {
  border-right: 2px solid #3B3B3B;
}

.tab-text {
  height: 100%;
  font-size: 140%;
  color: #fff;
}

.tab-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tabbed-div {
  display: none;
  margin-top: 74px;
}

.tabbed-div.current {
  display: inherit;
}

.project-info {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  font-size: 140%;
  padding: 40px;
  width: 50%;
  line-height: 1.2;
}

.project-info p {
  margin-bottom: 10px;
}

.project-info .info-name {
  font-size: 180%;
  font-weight: 600;
  margin-bottom: 40px;
}

.project-info .info-desc {
  font-size: 120%;
  margin-bottom: 40px;
}

.project-info .info-mini {
  display: inline-block;
  width: 40%;
  float: right;
}

.project-info .info-mini:first-of-type {
  float: left;
}

.info-mini p {
  margin-bottom: 20px;
}

.info-label {
  font-weight: 600;
  background: #CD5C5C;
  padding: 10px;
  color: #fff;
}

#timer {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  font-size: 140%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 50px;
}

#timer p {
  margin-bottom: 10px;
}

#timer button {
  color: #ffffff;
  background: #CD5C5C;
  padding: 5px 15px;
  text-decoration: none;
  border: none;
  font-size: 90%;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

#timer button:first-of-type {
  margin-right: 20px;
}

#timer button:hover {
  background: #C97B7B;
  text-decoration: none;
}

#time_record{
	font-size: 450%;
}