/*project_m.html*/

/* iteration tab */

.iteration-create-new-item {
  position: absolute;
  top: 15%;
  right: 3%;
  font-size: 140%;
  border: 2px solid #3B3B3B;
  padding: 8px;
  cursor: pointer;
}

.iteration-table {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

.iteration-table tr.data-row {
  border-bottom: 1px solid #3B3B3B;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.iteration-table tr.data-row:hover {
  background: rgba(205, 92, 92, 0.1);
  color: #CD5C5C;
}

.iteration-table tr:first-of-type {
  border-bottom: 2px solid #3B3B3B;
}

.iteration-table td,
.iteration-table th {
  padding: 25px;
  text-align: center;
}

.iteration-table th {
  font-size: 140%;
  
}

.iteration-table td {
  font-size: 120%;
}

/* summary tab */

.metrics-title {
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translateX(-50%);
  font-size: 180%;
}


.user-time-summary-table {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

.user-time-summary-table tr.data-row {
  border-bottom: 1px solid #3B3B3B;
}

.user-time-summary-table tr:first-of-type {
  border-bottom: 2px solid #3B3B3B;
}

.user-time-summary-table td,
.user-time-summary-table th {
  padding: 25px;
  text-align: center;
}

.user-time-summary-table th {
  font-size: 140%;
  
}

.user-time-summary-table td {
  font-size: 120%;
}

.user-time-summary-table .border-row {
  border-top: 2px solid #3B3B3B;
  border-bottom: 2px solid #3B3B3B !important;
}

/*
#project_summary_table{
	margin-left: 10%;
	font-size: 15px;
	width: 80%;
}

.project_summary_left_col{
	width: 50%;
}

.project_summary_right_col{
	width: 50%;
}

.col_with_border{
	border: 1px;
	border-style:solid;
	border-color:black;
	border-left: none;
    border-right: none;
}

.col_with_grey_backgroud{
	background-color: #E0E0E0;
}

*/

/*index-m.html*/

.project-manager-title {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  font-size: 180%;
}

.create-new-item {
  position: absolute;
  top: 2.5%;
  right: 3%;
  font-size: 140%;
  border: 2px solid #3B3B3B;
  padding: 8px;
  cursor: pointer;
}


/* Projects Table */

.projects-table {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

.projects-table tr.data-row {
  border-bottom: 1px solid #3B3B3B;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.projects-table tr.data-row:hover {
  background: rgba(205, 92, 92, 0.1);
  color: #CD5C5C;
}

.projects-table tr:first-of-type {
  border-bottom: 2px solid #3B3B3B;
}

.projects-table td,
.projects-table th {
  padding: 25px;
  text-align: center;
}

.projects-table th {
  font-size: 160%;
}

.projects-table td {
  font-size: 140%;
}